In [41]:
class Person:
    pass

john_doe = Person()
john_doe.name = "pragathi"
john_doe.surname = "sundar"
john_doe.year_of_birth = 1999
print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

<__main__.Person object at 0x7ffad9fc7c50>
pragathi sundar was born in 1999.

In [3]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [4]:
pragathi = Person("pragathi", "sundar", 1999)
print(pragathi)
print("%s %s was born in %d"% (pragathi.name,pragathi.surname,pragathi.year_of_birth))

<__main__.Person object at 0x7ffada903e80>
pragathi sundar was born in 1999

In [6]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
pragathi = Person("pragathi", "sundar", 1999)
print(pragathi)
print(pragathi.age(2019))

pragathi sundar was born in 1999 .
20

In [7]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
nethaaji = Student(1, 'nethaaji', 'Brown', 2000)
print(nethaaji)
print(type(nethaaji))
print(isinstance(nethaaji, Person))
print(isinstance(nethaaji, object))

nethaji Brown was born in 2000 .
<class '__main__.Student'>
True
True

In [9]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
nethaaji = Student(8, 'nethaaji', 'Brown', 2000)
print(nethaaji)

nethaaji Brown was born in 2000 . And has ID: 8

In [42]:
def summer(a, b):
    return a + b

print(summer(2, 8))
print(summer(["apple", "ball", "cat"], ["dog", "egg"]))
print(summer("hehehe", "hahaha"))

10
['apple', 'ball', 'cat', 'dog', 'egg']
hehehehahaha

In [13]:
%%writefile superman.txt
Hello, this is a quick superman test file

Writing superman.txt

In [14]:
my_file = open('superman.txt')

In [15]:
my_file.read()

'Hello, this is a quick superman test file'

In [16]:
my_file.read()

''

In [17]:
my_file.seek(0)

0

In [18]:
my_file.read()

'Hello, this is a quick superman test file'

In [20]:
my_file.readlines()

[]

In [22]:
my_file = open('superman.txt','w+')

In [23]:
my_file.write('This is a new line')

18

In [24]:
my_file.seek(0)

0

In [25]:
my_file.read()

'This is a new line'

In [26]:
%%writefile test.txt
First Line
Second Line

Writing test.txt

In [27]:
for line in open('test.txt'):
    print(line)

First Line

Second Line

In [28]:
for asdf in open('test.txt'):
    print(asdf)

First Line

Second Line

In [29]:
from io import StringIO

In [33]:
message = 'This is just an example for a string.'

In [34]:
f = StringIO(message)

In [35]:
f.read()

'This is just an example for a string.'

In [37]:
f.write(' Second line written to file like object')

40

In [39]:
f.seek(3)

3

In [40]:
f.read()

's is just an example for a string. Second line written to file like object Second line written to file like object'