In [1]:
import numpy as np
import pandas as pd

In [4]:
counts = pd.Series([100, 1500, 200, 544])
counts

0     100
1    1500
2     200
3     544
dtype: int64

In [5]:
counts.values

array([ 100, 1500,  200,  544])

In [6]:
counts.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
bacteria = pd.Series([632, 1638, 569, 115], 
    index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes'])
bacteria

Firmicutes         100
Proteobacteria     200
Actinobacteria     900
Bacteroidetes     1566
dtype: int64

In [ ]:
bacteria['Actinobacteria']

In [ ]:
bacteria[0]

In [ ]:
bacteria.name = 'counts'
bacteria.index.name = 'phylum'
bacteria

In [ ]:
np.log(bacteria)

In [ ]:
bacteria[bacteria>1000]

In [ ]:
bacteria_dict = {'Firmicutes': 632, 'Proteobacteria': 1500, 'Actinobacteria': 569, 'Bacteroidetes': 115}
print(bacteria_dict)
pd.Series(bacteria_dict)

In [ ]:
data = {"Province": ["FL", "FL", "NH", "NH", "ZH"],
        "Year": [2013, 2014, 2013, 2014, 2014],
        "Literacy": [0.2, 0.1, 0.5, 0.3, 0.5]}
print(data)
data = pd.DataFrame(data)
data

In [ ]:
df = pd.DataFrame(data, columns=["Year", "Province" ,"Literacy"])
df

In [ ]:
df['nonsense'] = df.Year / df.Literacy
df

In [ ]:
df.to_dict()

In [ ]:
pd.DataFrame(df.to_dict())

In [ ]:
data = [{'a': i, 'b':10* i}for i in range(6)]
print(data)
pd.DataFrame(data)

In [ ]:
pd.DataFrame([{'aa': 1, 'bb': 2}, {'bb': 3, 'cc': 6}])

In [ ]:
pd.DataFrame(np.random.randint(2, 12),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

In [ ]:
ind = pd.Index([20, 34, 57, 7, 1, 8])
ind

In [ ]:
ind[1]

In [ ]:
ind[::]

In [ ]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

In [ ]:
ind[1] = 0

In [ ]:
rng = np.random.RandomState(15)
ser = pd.Series(rng.randint(0, 10, 4))
ser

In [ ]:
dfr = pd.DataFrame(rng.randint(0, 10, (5, 4)),
                  columns=['A', 'B', 'C', 'D'])
dfr

In [ ]:
np.exp(ser)

In [ ]:
np.sin(dfr * np.pi / 4)

In [ ]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')
print(area)
population

In [ ]:
population / area

In [ ]:
area.index | population.index

In [ ]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
print(A)
print(B)
B
A + B

In [ ]:
A.add(B, fill_value=0)

In [ ]:
df

In [ ]:
df2 = pd.DataFrame({"Province": ["FL", "NH", "ZH"], "Population": ["100000", "200000", "300000"]})
df2

In [ ]:
df.merge(df2)

In [ ]:
df3 = pd.DataFrame({"province": ["FL", "NH"], "Population": ["100000", "200000"]})
df3
df.merge(df3, right_on='province', left_on='Province')

In [ ]:
df4 = pd.DataFrame({"Province": ["FL", "NH", "UT"], "Population": ["100000", "200000", "50000"]})
df.merge(df4, how='outer')

In [ ]:
df5 = pd.DataFrame({"Province": ["FL", "NH", "FL"], "Population": ["100000", "200000", "50000"]})
print(df)
df.merge(df5, how='outer')

In [ ]:
serie_a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
                     index=['f', 'e', 'd', 'c', 'b', 'a'])
serie_b = pd.Series(np.arange(len(serie_a), dtype=np.float64),
                 index=['f', 'e', 'd', 'c', 'b', 'a'])

In [ ]:
serie_a

In [ ]:
serie_b

In [ ]:
pd.Series(np.where(pd.isnull(serie_a), serie_b, serie_a), index=serie_a.index)

In [ ]:
serie_a.combine_first(serie_b)